body {
	margin-top: 50x; /* 50px is the height of the navbar - change this if the navbarn height changes */
}

.portfolio-item {
	margin-bottom: 25px;
}

footer {
	margin: 50px 0;
}

.gridify {
	display: grid;
	grid-template: repeat(1, 1fr) / repeat(3, 1fr);
	min-width: 0;
	min-height: 0;
	padding: 10px;
	grid-gap: 10px;
}

.container {
	max-width: 500px;
	margin: auto;
}

.main {
	background-image: linear-gradient(rgba(49, 39, 39, 0.95), rgb(0, 0, 0)), url(backgrounds/looping.jpg);
}

.img-responsive {
	width: 525px  ;
	height: 300 ;
	border-radius: 5%;
	border-right : 3px solid #000000;
	border-left : 3px solid #000000;
	border-top : 3px solid #000000;
	border-bottom : 3px solid #000000;
}

.link {
	color: rgb(238, 79, 79);
}
.alt-link {
	color: rgb(202, 220, 228)
}

.styled {
	display: inline-block;
	color: #000000;
	font-family: Georgia, serif;
	line-height: 1.6;
	padding: 20px;
	background-color: #a7a7a7bd;
	border-right : 5px solid #000000;
	border-left : 5px solid #000000;
	border-radius: 10%;
	border-top : 1px solid #000000;
	border-bottom : 1px solid #000000;
}

.text {
	display: inline-block;
	color: #ffffff;
	font-family: Georgia, serif;
	line-height: 1.6;
	padding: 10px;
	padding-left: 30px;
	padding-right: 30px;
	background-color: #00000071;
}

.title-text {
	font-size: 45px;
	display: inline-block;
	color: #ffffff;
	font-family: Georgia, serif;
	line-height: 1.6;
	padding: 10px;
	padding-left: 30px;
	padding-right: 30px;
	background-color: #00000071;
}

div {text-align: center;}